.hero{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.hero-section, .hero-section-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0px;
  gap: 40px;
  width: 100%;
}


.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bio-section {
  max-width: 600px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-img {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.role { color: var(--accent); font-weight: bold; }
h1 { font-size: 3.5rem; margin: 10px 0; line-height: 1.1; }

.btn {
    width: fit-content;
    padding: 0.75rem 1.5rem;
    color : var(--bg);
    background-color: var(--text);
    border-radius: 12px;
  }
.bio {
  text-align: justify;
  
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  h1 {
    font-size: 9vw;
    
  }
  .hero{
  display: flex;
  flex-direction: column;
}
  
  .hero-section {
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 20px 0px 0px 0px;
  }
  .hero-section-bottom{
    padding: 0px 0px 0px 0px;
  }
  .hero-text {
    flex: 2
  }

  .hero-img {
    flex: 1;
    width: 100%;
    height: auto;
    min-width: 100px;
  }
  
  .hero-img img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
  }
  
  .role {
    font-size: 0.9rem;
  }
  
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    .detail-info {
        margin: -40px 1rem 2rem 1rem; /* Margin pinggir di HP */
        padding: 2rem;
    }
    .detail-hero-image img { height: 40vh; }
}
