
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px;
  align-items: center;
  position: sticky; top: 0; background: var(--bg); z-index: 1000; box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box
}
